<!doctype html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="estilo.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">CakeLIE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">menuzinho top</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">nicee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>




<br>

<br>

<h2 class="textocentro">BOLOS</h2>

<br>
<br>



<button style="margin: 0 150px;" type="button" class="btn btn-outline-danger btn-lg">Bolos button</button>
<button style="margin: 0 80px;" type="button" class="btn btn-outline-danger btn-lg">Acompanhamentos</button>
<button style="margin: 0 100px;" type="button" class="btn btn-outline-danger btn-lg">Carrinho button</button>
<br>
<br>
<br>


<img style="width: 15rem;margin: 0 150px;float:left;" class="card-img-top" src="1.jpg" alt="Card image cap">
<div style="float:left;">
    <h3 style="margin: 0 1px;">Nome do Bolo</h3>
    <br>
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Selecionar Sabor da Massa</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <br>
    <br>

    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Selecionar Sabor do Recheio</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <br>
    <br>

    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Selecionar Sabor da Cobertura</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <br>
    <br>

    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Tamanho do Item</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <br>
    <br>

    <h3 style="margin: 0 1px;">Preço Total: </h3>
    <h5>R$ 00,00</h5>
    <br>
    <button type="button" class="btn btn-warning">Adicionar ao Carrinho</button>

</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>