{% extends '_base.html' %}

{% block title %}
Cadastro de Produtos
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

<br>
<br>
<h1 class="o textocor d-flex justify-content-center"> <b> Entrar Como </b> </h1>

<br>
<br>

<div>
<div class="hov" style="width: 50%; float:left; background-color:#9c7d63;">
    <br>
    <div style="color:white;"><h1 class="d-flex justify-content-center o"> <b> Vendedor</b></h1></div> 
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn-lg btn btn-light">LOGIN</button>
    </div>
    <br>
        <br>
        <br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn-lg btn btn-light">Cadastrar-se</button>
    </div>
    <br>
        <br>
    
</div>

    
      <div class="hov" style="width: 50%; float:right; background-color:#f3d2d2;">
          <br>
        <div style="color:white;"><h1 class="o d-flex justify-content-center"> <b> Comprador</b></h1></div>    
        
        <br>
        <br>

        <div class="d-flex justify-content-center">
                <button type="button" class="btn-lg btn btn-light">LOGIN</button>
            </div>
            <br>
                <br>
                <br>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn-lg btn btn-light">Cadastrar-se</button>
            </div>
            <br>
                <br>

       </div>

</div>
<br>
<br>



{% endblock %}